@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background: linear-gradient(135deg, #fe3b00, #5b548a);

  width: 520px;
}

.details {
  justify-content: space-between;
}

.search-box {
  border: none;
  outline: none;
}
